### Scraping List of Asian Countries

In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [81]:
url='https://en.wikipedia.org/wiki/List_of_Asian_countries_by_area'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [82]:
[len(T) for T in tr_elements[1:12]]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [84]:
tr_elements=tr_elements[1:53]

In [85]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Rank

2 Country

3 Area (km²)

4 Notes

In [86]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=4:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [87]:
[len(C) for (title,C) in col]

[51, 51, 51, 51]

In [88]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [89]:
df.head()

,Rank\n,Country\n,Area (km²)\n,Notes\n
0,1\n,Russia*\n,"13,000,000\n","17,125,191 km² including European Russia[1]\n"
1,2\n,China\n,"9,596,961\n","excludes Hong Kong, Macau and other disputed a..."
2,3\n,India\n,"3,287,263\n",\n
3,4\n,Kazakhstan*\n,"2,544,900\n","2,724,900 km² including European part\n"
4,5\n,Saudi Arabia\n,"2,149,690\n",\n

In [90]:
df.columns

Index(['Rank\n', 'Country\n', 'Area (km²)\n', 'Notes\n'], dtype='object')

In [91]:
df=df[['Country\n']]

In [92]:
df=df[:50]

In [93]:
df.rename(columns={'Country\n': "Country"}, inplace=True)

In [94]:
df

                    Country
0                 Russia*\n
1                   China\n
2                   India\n
3             Kazakhstan*\n
4            Saudi Arabia\n
5                    Iran\n
6                Mongolia\n
7              Indonesia*\n
8                Pakistan\n
9                 Turkey*\n
10                Myanmar\n
11            Afghanistan\n
12                  Yemen\n
13               Thailand\n
14           Turkmenistan\n
15             Uzbekistan\n
16                   Iraq\n
17                  Japan\n
18                Vietnam\n
19               Malaysia\n
20                   Oman\n
21            Philippines\n
22                   Laos\n
23             Kyrgyzstan\n
24                  Syria\n
25               Cambodia\n
26             Bangladesh\n
27                  Nepal\n
28             Tajikistan\n
29            North Korea\n
30            South Korea\n
31                 Jordan\n
32            Azerbaijan*\n
33   United Arab Emirates\n
34               Georgia*\n
35              Sri Lanka\n
36                 Bhutan\n
37                 Taiwan\n
38                Armenia\n
39                 Israel\n
40                 Kuwait\n
41            Timor-Leste\n
42                  Qatar\n
43                Lebanon\n
44                 Cyprus\n
45                 Brunei\n
46                Bahrain\n
47              Singapore\n
48               Maldives\n
49              Palestine\n

In [99]:
df["Country"][0][-1:]

'\n'

In [100]:
df["Country"][0][0:-2]

'\xa0Russia'

omitting symbols and unneccessary string (*, \xa0 and \n)

In [104]:
def country(x):
    if x["Country"][-2]=="*":
        return x["Country"][0:-2]
    else:
        return x["Country"][0:-1]

In [107]:
df=df.apply(country,axis=1)

In [130]:
df=df.to_frame()

In [131]:
def country(x):
    if x["Country"][0]=="\xa0":
        return x["Country"][1:]

In [133]:
df=df.apply(country,axis=1)

In [134]:
df.to_frame()

                       0
0                 Russia
1                  China
2                  India
3             Kazakhstan
4           Saudi Arabia
5                   Iran
6               Mongolia
7              Indonesia
8               Pakistan
9                 Turkey
10               Myanmar
11           Afghanistan
12                 Yemen
13              Thailand
14          Turkmenistan
15            Uzbekistan
16                  Iraq
17                 Japan
18               Vietnam
19              Malaysia
20                  Oman
21           Philippines
22                  Laos
23            Kyrgyzstan
24                 Syria
25              Cambodia
26            Bangladesh
27                 Nepal
28            Tajikistan
29           North Korea
30           South Korea
31                Jordan
32            Azerbaijan
33  United Arab Emirates
34               Georgia
35             Sri Lanka
36                Bhutan
37                Taiwan
38               Armenia
39                Israel
40                Kuwait
41           Timor-Leste
42                 Qatar
43               Lebanon
44                Cyprus
45                Brunei
46               Bahrain
47             Singapore
48              Maldives
49             Palestine

renaming the column

In [135]:
df.rename("Country", inplace=True)

0                   Russia
1                    China
2                    India
3               Kazakhstan
4             Saudi Arabia
5                     Iran
6                 Mongolia
7                Indonesia
8                 Pakistan
9                   Turkey
10                 Myanmar
11             Afghanistan
12                   Yemen
13                Thailand
14            Turkmenistan
15              Uzbekistan
16                    Iraq
17                   Japan
18                 Vietnam
19                Malaysia
20                    Oman
21             Philippines
22                    Laos
23              Kyrgyzstan
24                   Syria
25                Cambodia
26              Bangladesh
27                   Nepal
28              Tajikistan
29             North Korea
30             South Korea
31                  Jordan
32              Azerbaijan
33    United Arab Emirates
34                 Georgia
35               Sri Lanka
36                  Bhutan
37                  Taiwan
38                 Armenia
39                  Israel
40                  Kuwait
41             Timor-Leste
42                   Qatar
43                 Lebanon
44                  Cyprus
45                  Brunei
46                 Bahrain
47               Singapore
48                Maldives
49               Palestine
Name: Country, dtype: object

In [136]:
df.to_frame()

                 Country
0                 Russia
1                  China
2                  India
3             Kazakhstan
4           Saudi Arabia
5                   Iran
6               Mongolia
7              Indonesia
8               Pakistan
9                 Turkey
10               Myanmar
11           Afghanistan
12                 Yemen
13              Thailand
14          Turkmenistan
15            Uzbekistan
16                  Iraq
17                 Japan
18               Vietnam
19              Malaysia
20                  Oman
21           Philippines
22                  Laos
23            Kyrgyzstan
24                 Syria
25              Cambodia
26            Bangladesh
27                 Nepal
28            Tajikistan
29           North Korea
30           South Korea
31                Jordan
32            Azerbaijan
33  United Arab Emirates
34               Georgia
35             Sri Lanka
36                Bhutan
37                Taiwan
38               Armenia
39                Israel
40                Kuwait
41           Timor-Leste
42                 Qatar
43               Lebanon
44                Cyprus
45                Brunei
46               Bahrain
47             Singapore
48              Maldives
49             Palestine

In [137]:
df.to_csv("asiawiki.csv")