In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep, strftime
from random import randint
import pandas as pd
import numpy as np

In [2]:
indo=pd.read_csv("indonesia.csv")
wisata=indo["Destination"].values

In [3]:
#for automating the chrome
chromedriver_path = r"C:\Users\chiri\Downloads\chromedriver.exe"

In [4]:
driver=webdriver.Chrome(executable_path=chromedriver_path)
# sleep(2)

In [5]:
#opening the website
driver.get("https://www.tripadvisor.co.id/")
sleep(3)

In [14]:
todo=driver.find_element_by_xpath('//*[@id="lithium-root"]/main/div[1]/div[1]/div/div/div[2]/a/span/span[1]')
todo.click()

sleep(1)

In [15]:
# searchtodo=driver.find_element_by_xpath(r'/html/body/div[4]/div/form/input[1]')
searchtodo=driver.find_element_by_css_selector('body > div._5_xsoLU2 > div > form > input._3qLQ-U8m')
# searchtodo.click()


searchtodo.send_keys("Bali")
sleep(2)

# searchtodo.send_keys(city)
#     sleep(2)
searchtodo.send_keys(Keys.ENTER)

In [16]:

check=driver.find_element_by_xpath('//*[@id="lithium-root"]/main/nav/div/div/div[1]/a[1]/span')
check.text
# //*[@id="lithium-root"]/main/nav/div/div/div[1]/a[1]/span

'Bali'

In [18]:
types=driver.find_elements_by_class_name("_3S09qsQh._30GXgBoj")

jeniss=[]

for jenis in types:
    if jenis.text!="":
        jeniss.append(jenis.text)

print(jeniss)

['Tur (5.854)', 'Aktivitas Luar Ruangan (3.740)', 'Tur dengan Perahu & Olahraga Air (2.078)', 'Spa & Kebugaran (1.294)', 'Transportasi (1.247)', 'Lihat semua', 'Cocok untuk Pasangan (2.253)', 'Harga terjangkau (1.715)', 'Cocok untuk Anak-Anak (1.421)', 'Bagus Saat Hujan (1.380)', 'Cocok untuk Kelompok Besar (1.244)', 'Lihat semua']

In [15]:
# driver.get("https://www.tripadvisor.co.id/")

# driver.quit()

In [20]:
destination=[]
normal=[]
activities_combined=[]

# spot_combined=[]

for i in wisata[732:]:
    print (i)
    destination.append(i)
    
    #opening the website
    try:
        driver.get("https://www.tripadvisor.co.id/")
        sleep(3)
    except:
        try:
            driver.get("https://www.tripadvisor.co.id/")
            sleep(5)
        except:
            driver.get("https://www.tripadvisor.co.id/")
            sleep(5)
            
    todo=driver.find_element_by_xpath('//*[@id="lithium-root"]/main/div[1]/div[1]/div/div/div[2]/a/span/span[1]')
    todo.click()
    sleep(2)

    searchtodo=driver.find_element_by_css_selector('body > div._5_xsoLU2 > div > form > input._3qLQ-U8m')
    searchtodo.send_keys(i)
    sleep(2)
    searchtodo.send_keys(Keys.ENTER)
    sleep(2)
    
    try:
        check=driver.find_element_by_xpath('//*[@id="lithium-root"]/main/nav/div/div/div[1]/a[1]/span')
        normal.append(check.text)
        print(check.text)
    except:
        normal.append(np.nan)
    
    try:
        types=driver.find_elements_by_class_name("_3S09qsQh._30GXgBoj")

        jeniss=[]
        for jenis in types:    
            if jenis.text!="":
                jeniss.append(jenis.text)
        activities_combined.append(jeniss)
        print(jeniss)

        sleep(3)
    
    except:
        jeniss.append(np.nan)

Teku
[]
Pelaihari
Pelaihari
['Wisata Alam & Taman (5)', 'Pemandangan & Tengara (1)']
Malino
Malino
['Wisata Alam & Taman (5)']
Agam
Agam
['Pemandangan & Tengara (4)', 'Wisata Alam & Taman (2)', 'Tur (1)', 'Taman Air & Taman Hiburan (1)', 'Hiburan & Permainan (1)', 'Lihat semua']
Painan
Painan
['Aktivitas Luar Ruangan (4)', 'Wisata Alam & Taman (3)', 'Pemandangan & Tengara (1)']
Sigli
Sigli
['Pemandangan & Tengara (1)']
Tanjung Redeb
Tanjung Redeb
['Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Transportasi (1)', 'Aktivitas Luar Ruangan (1)']
Bumiayu
[]
Bila Riase
[]
Huu
[]
Pramuka Island
Pramuka Island
['Tur (2)', 'Tur dengan Perahu & Olahraga Air (2)', 'Aktivitas Luar Ruangan (2)', 'Transportasi (1)']
Topoyo
[]
Kota Pinang
[]
Ujung Genteng
Ujung Genteng
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (1)']
Tanjung Morawa
[]
Tomok
[]
Sidan
Sidan
['Pemandangan & Tengara (1)', 'Wisata Alam & Taman (1)', 'Cocok untuk Pasangan (1)', 'Harga terjangkau (1)', 'Cocok untuk Anak-Anak (1)', 'Cocok untuk Kelompok Besar (1)', 'Lokasi bulan madu (1)', 'Lihat semua']
Kota Pinang
[]
Ujung Genteng
Ujung Genteng
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (1)']
Meulaboh
Meulaboh
['Pemandangan & Tengara (1)', 'Wisata Alam & Taman (1)', 'Aktivitas Luar Ruangan (1)']
Grogol
[]
Bantaeng
Bantaeng
['Wisata Alam & Taman (1)', 'Aktivitas Luar Ruangan (1)']
Lubuk Pakam
[]
Riung
Riung
['Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Aktivitas Luar Ruangan (1)']
Sigli
Sigli
['Pemandangan & Tengara (1)']
Tanjung Redeb
Tanjung Redeb
['Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Transportasi (1)', 'Aktivitas Luar Ruangan (1)']
Bumiayu
[]
Sungai Penuh
Sungai Penuh
['Pemandangan & Tengara (1)']
Pesawaran
Pesawaran
['Wisata Alam & Taman (3)', 'Aktivitas Luar Ruangan (2)', 'Tur (1)', 'Pemandangan & Tengara (1)', 'Tur dengan Perahu & Olahraga Air (1)']
Tanjung Pura
Tanjung Pura
['Wisata Alam & Taman (1)']
Kalasan
Kalasan
['Pemandangan & Tengara (1)', 'Harga terjangkau (1)', 'Masuk Gratis (1)']
Enrekang
Enrekang
['Pemandangan & Tengara (2)', 'Wisata Alam & Taman (2)']
Pulau Tidung
[]
Tanjungmorawa
[]
Wirobrajan
[]
Kedungu
[]
Jatibarang
[]
Batang
Batang
['Wisata Alam & Taman (2)', 'Pemandangan & Tengara (1)', 'Kebun Binatang & Akuarium (1)', 'Aktivitas Luar Ruangan (1)']
Brontokusuman
[]
Demangan
[]
Labengi
[]
Guci
Guci
['Wisata Alam & Taman (1)']
Danginpuri Kelod
Danginpuri Kelod
['Hiburan malam (1)', 'Tempat Belanja (1)', 'Makanan & Minuman (1)', 'Spa & Kebugaran (1)', 'Tur (1)', 'Lihat semua']
Kelapa Island
[]
Batulicin
[]
Bagansiapiapi
Bagansiapiapi
['Pemandangan & Tengara (1)']
Amlapura
Amlapura
['Tur (5)', 'Aktivitas Luar Ruangan (4)', 'Tur dengan Perahu & Olahraga Air (3)', 'Transportasi (2)']
Bangli
Bangli
['Tur (122)', 'Aktivitas Luar Ruangan (103)', 'Pemandangan & Tengara (29)', 'Transportasi (15)', 'Wisata Alam & Taman (13)', 'Lihat semua', 'Harga terjangkau (42)', 'Cocok untuk Pasangan (40)', 'Cocok untuk Kelompok Besar (34)', 'Cocok untuk Penggemar Aktivitas Ekstrem (29)', 'Berjiwa petualang (25)', 'Lihat semua']
Pulau Kri
Pulau Kri
['Tur (4)', 'Tur dengan Perahu & Olahraga Air (4)', 'Aktivitas Luar Ruangan (4)', 'Transportasi (1)', 'Cocok untuk Pasangan (3)', 'Cocok untuk Penggemar Aktivitas Ekstrem (2)', 'Harga terjangkau (1)', 'Lokasi bulan madu (1)', 'Berjiwa petualang (1)']
Taman Bali
Taman Bali
['Tur (3)', 'Aktivitas Luar Ruangan (3)', 'Tur dengan Perahu & Olahraga Air (2)', 'Makanan & Minuman (1)', 'Kursus & Sanggar (1)', 'Lihat semua']
Keliki
Keliki
['Spa & Kebugaran (2)', 'Kursus & Sanggar (1)', 'Tur (1)', 'Aktivitas Luar Ruangan (1)', 'Harga terjangkau (1)', 'Cocok untuk Anak-Anak (1)']
Dangin Puri
Dangin Puri
['Tur (2)', 'Pemandangan & Tengara (2)', 'Transportasi (2)', 'Museum (1)', 'Cocok untuk Pasangan (1)']
Gunung Putri
[]
Beng
Bengkulu
['Wisata Alam & Taman (12)', 'Aktivitas Luar Ruangan (10)', 'Pemandangan & Tengara (6)', 'Tur (2)', 'Museum (2)', 'Lihat semua', 'Harga terjangkau (5)', 'Cocok untuk Anak-Anak (2)', 'Cocok untuk Pasangan (1)', 'Cocok untuk Kelompok Besar (1)', 'Masuk Gratis (1)', 'Lihat semua']
Banguntapan
Banguntapan
['Spa & Kebugaran (1)', 'Museum (1)']
Saba
Sabang
['Aktivitas Luar Ruangan (7)', 'Tur (6)', 'Tur dengan Perahu & Olahraga Air (5)', 'Wisata Alam & Taman (4)', 'Transportasi (3)', 'Lihat semua', 'Harga terjangkau (5)', 'Cocok untuk Kelompok Besar (5)', 'Cocok untuk Pasangan (4)', 'Cocok untuk Anak-Anak (3)', 'Lokasi bulan madu (3)', 'Lihat semua']
Sumberkima
[]
Panjer
Panjer
['Tur (3)', 'Transportasi (2)', 'Aktivitas Luar Ruangan (2)', 'Tempat Belanja (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Cocok untuk Kelompok Besar (1)']
Pejeng Kaja
[]
Sukasada
Sukasada
['Tur (12)', 'Wisata Alam & Taman (12)', 'Aktivitas Luar Ruangan (12)', 'Pemandangan & Tengara (4)', 'Makanan & Minuman (2)', 'Lihat semua', 'Cocok untuk Pasangan (7)', 'Harga terjangkau (5)', 'Cocok untuk Kelompok Besar (4)', 'Cocok untuk Penggemar Aktivitas Ekstrem (4)', 'Berjiwa petualang (4)', 'Lihat semua']
Guci
Guci
['Wisata Alam & Taman (1)']
Toyapakeh
Toyapakeh
['Tur (5)', 'Tur dengan Perahu & Olahraga Air (4)', 'Aktivitas Luar Ruangan (4)', 'Cocok untuk Pasangan (2)', 'Harga terjangkau (2)', 'Cocok untuk Kelompok Besar (2)', 'Cocok untuk Anak-Anak (1)', 'Cocok untuk Penggemar Aktivitas Ekstrem (1)']
Bumijo
[]
Kerobokan Kaja
Kerobokan Kaja
['Tur (2)', 'Transportasi (2)']
Amlapura
Amlapura
['Tur (5)', 'Aktivitas Luar Ruangan (4)', 'Tur dengan Perahu & Olahraga Air (3)', 'Transportasi (2)']
Kei Kecil
Kei Kecil
['Wisata Alam & Taman (3)', 'Aktivitas Luar Ruangan (2)', 'Pemandangan & Tengara (1)', 'Cocok untuk Kelompok Besar (1)', 'Masuk Gratis (1)']
Muntilan
Muntilan
['Tempat Belanja (1)']
Singakerta
Singakerta
['Spa & Kebugaran (2)', 'Tur (2)', 'Kursus & Sanggar (1)', 'Hiburan & Permainan (1)', 'Transportasi (1)', 'Aktivitas Luar Ruangan (1)', 'Cocok untuk Pasangan (2)', 'Bagus Saat Hujan (2)', 'Harga terjangkau (1)', 'Lokasi bulan madu (1)', 'Tempat yang Belum Populer (1)']
Tapile
Tapile
['Wisata Alam & Taman (2)']
Pulau Asu
[]
Ngestiharjo
[]
Pulau Palambak Besar
[]
Kedawung
[]
Tulungrejo
[]
Pangkalan Gelebak
[]
Pulosari
[]
Sembalun Bumbung
Sembalun Bumbung
['Tur (2)', 'Aktivitas Luar Ruangan (2)', 'Pemandangan & Tengara (1)', 'Cocok untuk Pasangan (1)', 'Cocok untuk Kelompok Besar (1)']
Batu Cermin
[]
Patiala Dete
Patiala Dete
['Wisata Alam & Taman (1)', 'Aktivitas Luar Ruangan (1)']
Guwang
Guwang
['Wisata Alam & Taman (1)', 'Cocok untuk Pasangan (1)', 'Harga terjangkau (1)', 'Cocok untuk Penggemar Aktivitas Ekstrem (1)', 'Tempat yang Belum Populer (1)', 'Berjiwa petualang (1)']
Margakaya
[]
Klumpu
[]
Nano
[]
Sialanguan
[]
Pemecutan Klod
[]
Sukarame
Sukarame
['Wisata Alam & Taman (2)']
Teluk Ambon
[]
Hegarmanah
[]
Airpanas
[]
Padangsambian
Padangsambian
['Tur (6)', 'Transportasi (5)', 'Aktivitas Luar Ruangan (5)', 'Tur dengan Perahu & Olahraga Air (3)', 'Tempat Belanja (1)', 'Spa & Kebugaran (1)']
Sukadana
Sukadana
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (2)']
Kalisoro
[]
Sungai Kerjan
[]
Bojong
[]
Sukamantri
[]
Kota Medan
Kota Medan
['Tur (2)', 'Transportasi (1)']
Senenan
[]
Gunung Bunder 2
[]
Kenanga
[]
KepulauanTanimbar
[]
Dosroha
[]
Mandalawangi
[]
Sungai Raya
[]
Kebon Waris
[]
Bumiwangi
[]
Singapadu Kaler
Singapadu Kaler
['Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Aktivitas Luar Ruangan (1)']
Pasirkaliki
[]
Gergintung
[]
Kepulauan Aru
[]
Sumberasri
Sumberasri
['Tur (1)', 'Aktivitas Luar Ruangan (1)']
Kemutug Lor
[]
Karangpawitan
[]
Perawang Barat
[]
Pasiripis
[]
Pancawati
Pancawati
['Makanan & Minuman (1)', 'Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Aktivitas Luar Ruangan (1)']
Gerbosari
[]
Sigunturmuda
[]
Matur
Maturin
['Pemandangan & Tengara (3)', 'Aktivitas Luar Ruangan (3)', 'Tempat Belanja (1)', 'Tur (1)', 'Kebun Binatang & Akuarium (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Wisata Alam & Taman (1)', 'Transportasi (1)', 'Masuk Gratis (2)', 'Harga terjangkau (1)', 'Cocok untuk Anak-Anak (1)', 'Berjiwa petualang (1)']
Sumbergondo
[]
Watublapi
Watublapi
['Pemandangan & Tengara (1)']
Karangmojo
[]
Hila
Hila
['Pemandangan & Tengara (1)']
Ciampea
[]
Biaro Gadang
[]
Pahuman
Pahuman
['Pemandangan & Tengara (1)']

Bosua
[]
Jogotirto
[]
Dinoyo
[]
Gunungsriti
[]
Sidoarum
[]
Sikur
[]
Taludaa
[]
Toyomarto
[]
Koya
Koya-cho
['Pemandangan & Tengara (58)', 'Tempat Belanja (6)', 'Sumber Informasi Wisatawan (3)', 'Tur (2)', 'Museum (2)', 'Spa & Kebugaran (1)', 'Wisata Alam & Taman (1)', 'Transportasi (1)', 'Harga terjangkau (14)', 'Bagus Saat Hujan (10)', 'Cocok untuk Kelompok Besar (9)', 'Masuk Gratis (7)', 'Cocok untuk Pasangan (3)', 'Lokasi bulan madu (2)', 'Cocok untuk Anak-Anak (1)']
Kotaraja
[]
Gunung Sugih
[]
Tatui
Tatui
['Hiburan & Permainan (3)', 'Pemandangan & Tengara (2)', 'Aktivitas Luar Ruangan (2)', 'Museum (1)', 'Wisata Alam & Taman (1)', 'Konser & Pertunjukan (1)', 'City Center (2)', 'Bagus Saat Hujan (5)', 'Cocok untuk Anak-Anak (4)', 'Masuk Gratis (3)', 'Harga terjangkau (2)', 'Cocok untuk Penggemar Aktivitas Ekstrem (2)']
Semampir
[]
Sedati Gede
[]
Rungkut Menanggal
[]
Panawuan
[]
Buleleng
Buleleng
['Tur (108)', 'Aktivitas Luar Ruangan (82)', 'Tur dengan Perahu & Olahraga Air (54)', 'Transportasi (42)', 'Wisata Alam & Taman (19)', 'Spa & Kebugaran (16)', 'Pemandangan & Tengara (16)', 'Makanan & Minuman (12)', 'Kursus & Sanggar (11)', 'Hiburan malam (7)', 'Tempat Belanja (6)', 'Hiburan & Permainan (4)', 'Museum (3)', 'Taman Air & Taman Hiburan (2)', 'Sumber Informasi Wisatawan (1)', 'Cocok untuk Pasangan (52)', 'Harga terjangkau (37)', 'Cocok untuk Anak-Anak (34)', 'Bagus Saat Hujan (24)', 'Cocok untuk Kelompok Besar (21)', 'Lokasi bulan madu (18)', 'Cocok untuk Penggemar Aktivitas Ekstrem (12)', 'Masuk Gratis (9)', 'Tempat yang Belum Populer (8)', 'Berjiwa petualang (7)']
Bungkulan
[]
Pemogan
Pemogan
['Tempat Belanja (1)']
Sena
Senaru
['Tur (110)', 'Aktivitas Luar Ruangan (102)', 'Transportasi (4)', 'Pemandangan & Tengara (2)', 'Wisata Alam & Taman (2)', 'Tur dengan Perahu & Olahraga Air (1)', 'Cocok untuk Kelompok Besar (41)', 'Cocok untuk Pasangan (35)', 'Berjiwa petualang (35)', 'Cocok untuk Penggemar Aktivitas Ekstrem (34)', 'Harga terjangkau (29)', 'Tempat yang Belum Populer (9)', 'Cocok untuk Anak-Anak (8)', 'Lokasi bulan madu (6)', 'Masuk Gratis (3)', 'Bagus Saat Hujan (2)']
Tamansari
[]
Mulyoagung
[]
Pandanrejo
[]
Sucen
[]
Pasaribu
[]
Simangumban Julu
[]
Cinta Dame
Cinta Dame
['Wisata Alam & Taman (1)', 'Aktivitas Luar Ruangan (1)']
Sita
Sitamarhi
['Pemandangan & Tengara (4)', 'Cocok untuk Kelompok Besar (2)', 'Masuk Gratis (2)']
Pungging
[]
Gunungsari
[]
Hamparan Perak
[]
Getasan
[]
Manonjaya
[]
Padusan
[]
Mokdale
[]
Dalam
Dalaman
['Transportasi (23)', 'Tur (3)', 'Wisata Alam & Taman (3)', 'Aktivitas Luar Ruangan (3)', 'Pemandangan & Tengara (2)', 'Spa & Kebugaran (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Sumber Informasi Wisatawan (1)', 'Harga terjangkau (3)', 'Cocok untuk Anak-Anak (3)', 'Cocok untuk Kelompok Besar (3)', 'Bagus Saat Hujan (2)', 'Cocok untuk Pasangan (1)', 'Tempat yang Belum Populer (1)']
Kemantren
[]
Kalirejo
[]
Pedurungan
[]
Bontoborusu
[]
Tangkil
[]
Kebonagung
[]
Ciwaru
[]
Batur
Baturaden
['Wisata Alam & Taman (4)', 'Tur (1)', 'Pemandangan & Tengara (1)', 'Aktivitas Luar Ruangan (1)', 'Cocok untuk Anak-Anak (1)']
Mendalo Darat
[]
Krambitan
[]
Sambirejo
[]
Banyumudal
[]
Ciemas
[]
Alor Besar
[]
Kemiren
[]
Ploso
[]
Golo Lijun
[]
Pantai Oa
Pantai Oa
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (2)']
Beru
Beruwala
['Aktivitas Luar Ruangan (18)', 'Tur (16)', 'Tempat Belanja (8)', 'Tur dengan Perahu & Olahraga Air (7)', 'Transportasi (6)', 'Pemandangan & Tengara (3)', 'Wisata Alam & Taman (3)', 'Spa & Kebugaran (1)', 'Kursus & Sanggar (1)', 'Harga terjangkau (7)', 'Cocok untuk Pasangan (5)', 'Masuk Gratis (5)', 'Cocok untuk Anak-Anak (4)', 'Cocok untuk Kelompok Besar (3)', 'Lokasi bulan madu (3)', 'Tempat yang Belum Populer (1)', 'Bagus Saat Hujan (1)']
Mancong
Mancong
['Pemandangan & Tengara (1)']
Ambeua
[]
Obi
Obihiro
['Pemandangan & Tengara (18)', 'Hiburan malam (17)', 'Spa & Kebugaran (16)', 'Hiburan & Permainan (11)', 'Museum (8)', 'Wisata Alam & Taman (8)', 'Tempat Belanja (7)', 'Aktivitas Luar Ruangan (7)', 'Transportasi (6)', 'Tur (4)', 'Sumber Informasi Wisatawan (4)', 'Acara (3)', 'Makanan & Minuman (2)', 'Kursus & Sanggar (2)', 'Kebun Binatang & Akuarium (1)', 'Lihat semua', 'Harga terjangkau (8)', 'Bagus Saat Hujan (8)', 'Cocok untuk Anak-Anak (7)', 'Masuk Gratis (5)', 'Cocok untuk Pasangan (3)', 'Cocok untuk Kelompok Besar (1)', 'Lokasi bulan madu (1)', 'Cocok untuk Penggemar Aktivitas Ekstrem (1)', 'Tempat yang Belum Populer (1)', 'Berjiwa petualang (1)']
Galeia
Galeia
['Pemandangan & Tengara (1)', 'Wisata Alam & Taman (1)']
Mayangan
[]
Malangjiwan
[]
Purwoharjo
[]
Pulosari
[]
Maguwoharjo
Maguwoharjo
['Aktivitas Luar Ruangan (1)']
Buwun Mas
Buwun Mas
['Wisata Alam & Taman (2)', 'Pemandangan & Tengara (1)', 'Aktivitas Luar Ruangan (1)']
Nisam Antara
Nisam Antara
['Pemandangan & Tengara (1)']
Kapala Pitu
[]
Indralaya Indah
[]
Batu Karas
Batu Karas
['Tur (2)', 'Tur dengan Perahu & Olahraga Air (2)', 'Aktivitas Luar Ruangan (2)']
Tiworiwu
Tiworiwu
['Pemandangan & Tengara (1)']
Sarigono
[]
Moutong
[]
Airpanas
[]
Cadika
[]
Augusta Island
[]
Tulungrejo
[]
Kedawung
[]
Perbaungan
[]
Kappuna
[]
Sei Rampah
[]
Suranadi
Suranadi
['Wisata Alam & Taman (1)']
Kodi
Kodi
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (2)', 'Cocok untuk Anak-Anak (1)']
Rendeh
[]
Obi
Obihiro
['Pemandangan & Tengara (18)', 'Hiburan malam (17)', 'Spa & Kebugaran (16)', 'Hiburan & Permainan (11)', 'Museum (8)', 'Wisata Alam & Taman (8)', 'Tempat Belanja (7)', 'Aktivitas Luar Ruangan (7)', 'Transportasi (6)', 'Tur (4)', 'Sumber Informasi Wisatawan (4)', 'Acara (3)', 'Makanan & Minuman (2)', 'Kursus & Sanggar (2)', 'Kebun Binatang & Akuarium (1)', 'Lihat semua', 'Harga terjangkau (8)', 'Bagus Saat Hujan (8)', 'Cocok untuk Anak-Anak (7)', 'Masuk Gratis (5)', 'Cocok untuk Pasangan (3)', 'Cocok untuk Kelompok Besar (1)', 'Lokasi bulan madu (1)', 'Cocok untuk Penggemar Aktivitas Ekstrem (1)', 'Tempat yang Belum Populer (1)', 'Berjiwa petualang (1)']
Sukamanah
Sukamanah
['Wisata Alam & Taman (2)', 'Aktivitas Luar Ruangan (1)']
Jatiwangi
[]
Sorake
[]
Kelimutu
Kelimutu
['Wisata Alam & Taman (1)']
Sri Danai
[]
Catur
[]
Abianbase
[]
Jaranguda
[]
Pengudang
[]
Banuhampu
[]
Pejukutan
Pejukutan
['Tur (1)', 'Aktivitas Luar Ruangan (1)']
Namu Sialang
[]
Ciwaru
[]
Kesu
[]
Krambitan
[]
Situjuah Gadang
[]
Waru
[]
Sipora Jaya
[]
Purwakerti
Purwakerti
['Spa & Kebugaran (1)', 'Tur (1)', 'Cocok untuk Pasangan (1)', 'Bagus Saat Hujan (1)']
Nglinggo Barat
[]
Hargowilis
[]
Sidikalang
[]
Selat
Selat Panjang
['Pemandangan & Tengara (1)']
Cilimus
[]
Ciampea
[]
Topejawa
[]
Belopa
[]
Krajan
[]
Gurun
Gurun California
['Aktivitas Luar Ruangan (186)', 'Wisata Alam & Taman (151)', 'Tempat Belanja (149)', 'Pemandangan & Tengara (149)', 'Spa & Kebugaran (92)', 'Museum (90)', 'Tur (86)', 'Hiburan & Permainan (52)', 'Hiburan malam (42)', 'Sumber Informasi Wisatawan (26)', 'Konser & Pertunjukan (23)', 'Kursus & Sanggar (19)', 'Makanan & Minuman (18)', 'Transportasi (12)', 'Kasino & Perjudian (7)', 'Lihat semua', 'Cocok untuk Pasangan (167)', 'Harga terjangkau (167)', 'Masuk Gratis (151)', 'Bagus Saat Hujan (125)', 'Cocok untuk Anak-Anak (97)', 'Cocok untuk Kelompok Besar (80)', 'Berjiwa petualang (42)', 'Tempat yang Belum Populer (34)', 'Cocok untuk Penggemar Aktivitas Ekstrem (29)', 'Lokasi bulan madu (20)']
Tibubiu
[]
Sumbermulyo
[]
Cot Abeuk
[]
Sukomoro
[]
Sumbergondo
[]
Watublapi
Watublapi
['Pemandangan & Tengara (1)']
Karangmojo
[]
Long Bawan
Long Bawan
['Wisata Alam & Taman (1)']
Pedak
[]
Lantan
Lantana
['Tur (6)', 'Aktivitas Luar Ruangan (6)', 'Tur dengan Perahu & Olahraga Air (5)', 'Wisata Alam & Taman (4)', 'Pemandangan & Tengara (3)', 'Tempat Belanja (1)', 'Makanan & Minuman (1)', 'Spa & Kebugaran (1)', 'Hiburan & Permainan (1)', 'Harga terjangkau (3)', 'Cocok untuk Anak-Anak (3)', 'Masuk Gratis (2)', 'Cocok untuk Pasangan (1)']
Sumberasri
Sumberasri
['Tur (1)', 'Aktivitas Luar Ruangan (1)']
Kabupaten Buleleng
Kabupaten Buleleng
['Tur (212)', 'Aktivitas Luar Ruangan (180)', 'Tur dengan Perahu & Olahraga Air (112)', 'Transportasi (81)', 'Wisata Alam & Taman (49)', 'Pemandangan & Tengara (33)', 'Spa & Kebugaran (30)', 'Makanan & Minuman (22)', 'Kursus & Sanggar (18)', 'Tempat Belanja (12)', 'Hiburan malam (7)', 'Hiburan & Permainan (5)', 'Museum (4)', 'Taman Air & Taman Hiburan (4)', 'Sumber Informasi Wisatawan (1)', 'Cocok untuk Pasangan (105)', 'Harga terjangkau (81)', 'Cocok untuk Anak-Anak (63)', 'Cocok untuk Kelompok Besar (47)', 'Lokasi bulan madu (36)', 'Bagus Saat Hujan (36)', 'Cocok untuk Penggemar Aktivitas Ekstrem (27)', 'Tempat yang Belum Populer (19)', 'Masuk Gratis (15)', 'Berjiwa petualang (14)']

Busung Indah
[]
Gerbosari
[]
Matur
Maturin
['Pemandangan & Tengara (3)', 'Aktivitas Luar Ruangan (3)', 'Tempat Belanja (1)', 'Tur (1)', 'Kebun Binatang & Akuarium (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Wisata Alam & Taman (1)', 'Transportasi (1)', 'Masuk Gratis (2)', 'Harga terjangkau (1)', 'Cocok untuk Anak-Anak (1)', 'Berjiwa petualang (1)']
Tumpatan Nibung
[]
Nobo
Noboribetsu
['Wisata Alam & Taman (21)', 'Pemandangan & Tengara (11)', 'Tempat Belanja (6)', 'Sumber Informasi Wisatawan (6)', 'Spa & Kebugaran (5)', 'Aktivitas Luar Ruangan (5)', 'Museum (4)', 'Hiburan & Permainan (3)', 'Hiburan malam (2)', 'Kebun Binatang & Akuarium (2)', 'Taman Air & Taman Hiburan (2)', 'Kursus & Sanggar (1)', 'Cocok untuk Anak-Anak (10)', 'Cocok untuk Kelompok Besar (9)', 'Harga terjangkau (8)', 'Masuk Gratis (8)', 'Cocok untuk Pasangan (4)', 'Berjiwa petualang (3)', 'Lokasi bulan madu (2)', 'Bagus Saat Hujan (2)', 'Tempat yang Belum Populer (1)']
Singapadu Kaler
Singapadu Kaler
['Tur (1)', 'Tur dengan Perahu & Olahraga Air (1)', 'Aktivitas Luar Ruangan (1)']
Pasirkaliki
[]
Simpangan
[]
Tjihadak
[]
Kepurun
[]
Dayurejo
[]
Kota Jawa
[]
Candi Dasa
[]
Kalinyamatan
[]
Batu Rusa
[]
Cimohong
[]
Kaliurang Timur
[]
Telagah
Telagah
['Pemandangan & Tengara (1)']
Wongaya Gede
[]
Banyuatis
Banyuatis
['Tur (1)', 'Transportasi (1)']
Karangpapak
[]
Bernung
[]
Karyamekar
[]
Jayengan
[]
Wetar
Wetar
['Wisata Alam & Taman (1)']
Cadika
[]
Augusta Island
[]
Anoe Itam
[]
Cipayung Girang
[]
Cepoko
[]
Maen
Maennedorf
[]
Cempaga
[]
Tuk
Tuktuk Siadong
['Hiburan malam (2)', 'Tur (1)', 'Konser & Pertunjukan (1)']
Parongpong
[]
Timbau
Timbauba
['Konser & Pertunjukan (1)']
Tanjung Baru
[]
Baru
Kota Baru
['Wisata Alam & Taman (1)']

In [30]:
indo[indo["Destination"]=="Pematang Siantar"]

     Unnamed: 0       Destination
157         157  Pematang Siantar

In [66]:
destination=wisata[0:731]

In [88]:
destination=destination.tolist()

In [21]:
destination

['Teku',
 'Pelaihari',
 'Malino',
 'Agam',
 'Painan',
 'Sigli',
 'Tanjung Redeb',
 'Bumiayu',
 'Bila Riase',
 'Huu',
 'Pramuka Island',
 'Topoyo',
 'Kota Pinang',
 'Ujung Genteng',
 'Tanjung Morawa',
 'Tomok',
 'Sidan',
 'Kota Pinang',
 'Ujung Genteng',
 'Meulaboh',
 'Grogol',
 'Bantaeng',
 'Lubuk Pakam',
 'Riung',
 'Sigli',
 'Tanjung Redeb',
 'Bumiayu',
 'Sungai Penuh',
 'Pesawaran',
 'Tanjung Pura',
 'Kalasan',
 'Enrekang',
 'Pulau Tidung',
 'Tanjungmorawa',
 'Wirobrajan',
 'Kedungu',
 'Jatibarang',
 'Batang',
 'Brontokusuman',
 'Demangan',
 'Labengi',
 'Guci',
 'Danginpuri Kelod',
 'Kelapa Island',
 'Batulicin',
 'Bagansiapiapi',
 'Amlapura',
 'Bangli',
 'Pulau Kri',
 'Taman Bali',
 'Keliki',
 'Dangin Puri',
 'Gunung Putri',
 'Beng',
 'Banguntapan',
 'Saba',
 'Sumberkima',
 'Panjer',
 'Pejeng Kaja',
 'Sukasada',
 'Guci',
 'Toyapakeh',
 'Bumijo',
 'Kerobokan Kaja',
 'Amlapura',
 'Kei Kecil',
 'Muntilan',
 'Singakerta',
 'Tapile',
 'Pulau Asu',
 'Ngestiharjo',
 'Pulau Palambak Besar',
 'Kedawung',
 'Tulungrejo',
 'Pangkalan Gelebak',
 'Pulosari',
 'Sembalun Bumbung',
 'Batu Cermin',
 'Patiala Dete',
 'Guwang',
 'Margakaya',
 'Klumpu',
 'Nano',
 'Sialanguan',
 'Pemecutan Klod',
 'Sukarame',
 'Teluk Ambon',
 'Hegarmanah',
 'Airpanas',
 'Padangsambian',
 'Sukadana',
 'Kalisoro',
 'Sungai Kerjan',
 'Bojong',
 'Sukamantri',
 'Kota Medan',
 'Senenan',
 'Gunung Bunder 2',
 'Kenanga',
 'KepulauanTanimbar',
 'Dosroha',
 'Mandalawangi',
 'Sungai Raya',
 'Kebon Waris',
 'Bumiwangi',
 'Singapadu Kaler',
 'Pasirkaliki',
 'Gergintung',
 'Kepulauan Aru',
 'Sumberasri',
 'Kemutug Lor',
 'Karangpawitan',
 'Perawang Barat',
 'Pasiripis',
 'Pancawati',
 'Gerbosari',
 'Sigunturmuda',
 'Matur',
 'Sumbergondo',
 'Watublapi',
 'Karangmojo',
 'Hila',
 'Ciampea',
 'Biaro Gadang',
 'Pahuman',
 'Bosua',
 'Jogotirto',
 'Dinoyo',
 'Gunungsriti',
 'Sidoarum',
 'Sikur',
 'Taludaa',
 'Toyomarto',
 'Koya',
 'Kotaraja',
 'Gunung Sugih',
 'Tatui',
 'Semampir',
 'Sedati Gede',
 'Rungkut Menanggal',
 'Panawuan',
 'Buleleng',
 'Bungkulan',
 'Pemogan',
 'Sena',
 'Tamansari',
 'Mulyoagung',
 'Pandanrejo',
 'Sucen',
 'Pasaribu',
 'Simangumban Julu',
 'Cinta Dame',
 'Sita',
 'Pungging',
 'Gunungsari',
 'Hamparan Perak',
 'Getasan',
 'Manonjaya',
 'Padusan',
 'Mokdale',
 'Dalam',
 'Kemantren',
 'Kalirejo',
 'Pedurungan',
 'Bontoborusu',
 'Tangkil',
 'Kebonagung',
 'Ciwaru',
 'Batur',
 'Mendalo Darat',
 'Krambitan',
 'Sambirejo',
 'Banyumudal',
 'Ciemas',
 'Alor Besar',
 'Kemiren',
 'Ploso',
 'Golo Lijun',
 'Pantai Oa',
 'Beru',
 'Mancong',
 'Ambeua',
 'Obi',
 'Galeia',
 'Mayangan',
 'Malangjiwan',
 'Purwoharjo',
 'Pulosari',
 'Maguwoharjo',
 'Buwun Mas',
 'Nisam Antara',
 'Kapala Pitu',
 'Indralaya Indah',
 'Batu Karas',
 'Tiworiwu',
 'Sarigono',
 'Moutong',
 'Airpanas',
 'Cadika',
 'Augusta Island',
 'Tulungrejo',
 'Kedawung',
 'Perbaungan',
 'Kappuna',
 'Sei Rampah',
 'Suranadi',
 'Kodi',
 'Rendeh',
 'Obi',
 'Sukamanah',
 'Jatiwangi',
 'Sorake',
 'Kelimutu',
 'Sri Danai',
 'Catur',
 'Abianbase',
 'Jaranguda',
 'Pengudang',
 'Banuhampu',
 'Pejukutan',
 'Namu Sialang',
 'Ciwaru',
 'Kesu',
 'Krambitan',
 'Situjuah Gadang',
 'Waru',
 'Sipora Jaya',
 'Purwakerti',
 'Nglinggo Barat',
 'Hargowilis',
 'Sidikalang',
 'Selat',
 'Cilimus',
 'Ciampea',
 'Topejawa',
 'Belopa',
 'Krajan',
 'Gurun',
 'Tibubiu',
 'Sumbermulyo',
 'Cot Abeuk',
 'Sukomoro',
 'Sumbergondo',
 'Watublapi',
 'Karangmojo',
 'Long Bawan',
 'Pedak',
 'Lantan',
 'Sumberasri',
 'Kabupaten Buleleng',
 'Busung Indah',
 'Gerbosari',
 'Matur',
 'Tumpatan Nibung',
 'Nobo',
 'Singapadu Kaler',
 'Pasirkaliki',
 'Simpangan',
 'Tjihadak',
 'Kepurun',
 'Dayurejo',
 'Kota Jawa',
 'Candi Dasa',
 'Kalinyamatan',
 'Batu Rusa',
 'Cimohong',
 'Kaliurang Timur',
 'Telagah',
 'Wongaya Gede',
 'Banyuatis',
 'Karangpapak',
 'Bernung',
 'Karyamekar',
 'Jayengan',
 'Wetar',
 'Cadika',
 'Augusta Island',
 'Anoe Itam',
 'Cipayung Girang',
 'Cepoko',
 'Maen',
 'Cempaga',
 'Tuk',
 'Parongpong',
 'Timbau',
 'Tanjung Baru',
 'Baru']

In [63]:
normal[731]

IndexError: list index out of range

In [65]:
wisata[731]

'Sangkulirang'

In [22]:
print(len(destination))
print(len(normal))
print(len(activities_combined))

287
287
287

In [23]:
indo_todo=pd.DataFrame()
indo_todo["Country Name"]="Indonesia"
indo_todo["Travel Destination"]=destination
indo_todo["Checking"]=normal
indo_todo["Things to Do"]=activities_combined

In [25]:
indo_todo["Country Name"]="Indonesia"

In [26]:
indo_todo[indo_todo["Checking"].isna()]

    Country Name Travel Destination Checking Things to Do
0      Indonesia               Teku      NaN           []
7      Indonesia            Bumiayu      NaN           []
8      Indonesia         Bila Riase      NaN           []
9      Indonesia                Huu      NaN           []
11     Indonesia             Topoyo      NaN           []
..           ...                ...      ...          ...
278    Indonesia    Cipayung Girang      NaN           []
279    Indonesia             Cepoko      NaN           []
281    Indonesia            Cempaga      NaN           []
283    Indonesia         Parongpong      NaN           []
285    Indonesia       Tanjung Baru      NaN           []

[187 rows x 4 columns]

In [83]:
indo_todo["Country Name"]="Indonesia"

In [27]:
indo_todo

,Country Name,Travel Destination,Checking,Things to Do
0,Indonesia,Teku,NaN,[]
1,Indonesia,Pelaihari,Pelaihari,"[Wisata Alam & Taman (5), Pemandangan & Tengar..."
2,Indonesia,Malino,Malino,[Wisata Alam & Taman (5)]
3,Indonesia,Agam,Agam,"[Pemandangan & Tengara (4), Wisata Alam & Tama..."
4,Indonesia,Painan,Painan,"[Aktivitas Luar Ruangan (4), Wisata Alam & Tam..."
...,...,...,...,...
282,Indonesia,Tuk,Tuktuk Siadong,"[Hiburan malam (2), Tur (1), Konser & Pertunju..."
283,Indonesia,Parongpong,NaN,[]
284,Indonesia,Timbau,Timbauba,[Konser & Pertunjukan (1)]
285,Indonesia,Tanjung Baru,NaN,[]
286,Indonesia,Baru,Kota Baru,[Wisata Alam & Taman (1)]

In [85]:
indo_todo.to_csv("indonesia_thingstodo.csv")

In [28]:
indo_todo1=pd.read_csv("indonesia_thingstodo.csv")

In [45]:
finalindo=pd.concat([indo_todo1,indo_todo]).reset_index().drop(columns=["index","Unnamed: 0"])

menghapus data-data yang kosong "Things to Do"-nya

In [46]:
finalindo=finalindo[finalindo["Things to Do"]!="[]"].reset_index()

In [47]:
finalindo=finalindo.drop("index", axis=1)

In [55]:
finalindo.iloc[919]["Things to Do"]

[]

In [60]:
finalindo=finalindo[finalindo["Checking"].notnull()]

Cek apakah ada data-data yang tidak sesuai antara travel destination yang kita inginkan dengan hasil pengecekan

In [65]:
finalindo[finalindo["Travel Destination"]!=finalindo['Checking']]

,Country Name,Travel Destination,Checking,Things to Do
75,Indonesia,Jawa,Jawa Timur,"['Aktivitas Luar Ruangan (567)', 'Tur (479)', ..."
99,Indonesia,Sulawesi,Sulawesi Selatan,"['Wisata Alam & Taman (73)', 'Aktivitas Luar R..."
138,Indonesia,Kalimantan,Kalimantan Timur,"['Wisata Alam & Taman (78)', 'Aktivitas Luar R..."
139,Indonesia,Riau,Provinsi Riau,"['Tempat Belanja (24)', 'Pemandangan & Tengara..."
159,Indonesia,Kalimantan,Kalimantan Timur,"['Wisata Alam & Taman (78)', 'Aktivitas Luar R..."
177,Indonesia,Riau,Provinsi Riau,"['Tempat Belanja (24)', 'Pemandangan & Tengara..."
254,Indonesia,Tanjung,Tanjung Lesung,"['Pemandangan & Tengara (1)', 'Wisata Alam & T..."
278,Indonesia,Bukit,Bukittinggi,"['Tur (14)', 'Pemandangan & Tengara (12)', 'Ak..."
333,Indonesia,Banjar,Banjarmasin,"['Pemandangan & Tengara (19)', 'Tempat Belanja..."
381,Indonesia,Bukit,Bukittinggi,"['Tur (14)', 'Pemandangan & Tengara (12)', 'Ak..."
555,Indonesia,Pejeng,Pejeng Kangin,['Spa & Kebugaran (1)']
577,Indonesia,Melaya,Melayang,['Tur (1)']
578,Indonesia,Laha,Lahat,"['Wisata Alam & Taman (3)', 'Hiburan malam (1)..."
595,Indonesia,Bomba,Mumbai (Bombay),"['Tur (325)', 'Pemandangan & Tengara (254)', '..."
616,Indonesia,Melaya,Melayang,['Tur (1)']
687,Indonesia,Beng,Bengkulu,"[Wisata Alam & Taman (12), Aktivitas Luar Ruan..."
689,Indonesia,Saba,Sabang,"[Aktivitas Luar Ruangan (7), Tur (6), Tur deng..."
751,Indonesia,Matur,Maturin,"[Pemandangan & Tengara (3), Aktivitas Luar Rua..."
767,Indonesia,Koya,Koya-cho,"[Pemandangan & Tengara (58), Tempat Belanja (6..."
778,Indonesia,Sena,Senaru,"[Tur (110), Aktivitas Luar Ruangan (102), Tran..."
786,Indonesia,Sita,Sitamarhi,"[Pemandangan & Tengara (4), Cocok untuk Kelomp..."
794,Indonesia,Dalam,Dalaman,"[Transportasi (23), Tur (3), Wisata Alam & Tam..."
802,Indonesia,Batur,Baturaden,"[Wisata Alam & Taman (4), Tur (1), Pemandangan..."
813,Indonesia,Beru,Beruwala,"[Aktivitas Luar Ruangan (18), Tur (16), Tempat..."
816,Indonesia,Obi,Obihiro,"[Pemandangan & Tengara (18), Hiburan malam (17..."
842,Indonesia,Obi,Obihiro,"[Pemandangan & Tengara (18), Hiburan malam (17..."
865,Indonesia,Selat,Selat Panjang,[Pemandangan & Tengara (1)]
871,Indonesia,Gurun,Gurun California,"[Aktivitas Luar Ruangan (186), Wisata Alam & T..."
881,Indonesia,Lantan,Lantana,"[Tur (6), Aktivitas Luar Ruangan (6), Tur deng..."
886,Indonesia,Matur,Maturin,"[Pemandangan & Tengara (3), Aktivitas Luar Rua..."
888,Indonesia,Nobo,Noboribetsu,"[Wisata Alam & Taman (21), Pemandangan & Tenga..."
914,Indonesia,Maen,Maennedorf,[]
916,Indonesia,Tuk,Tuktuk Siadong,"[Hiburan malam (2), Tur (1), Konser & Pertunju..."
918,Indonesia,Timbau,Timbauba,[Konser & Pertunjukan (1)]
920,Indonesia,Baru,Kota Baru,[Wisata Alam & Taman (1)]

hanya ambil data-data yang bersesuaian

In [67]:
finalindo=finalindo[finalindo["Travel Destination"]==finalindo['Checking']]

In [68]:
finalindo.to_csv("cleaning_indotodo.csv")

In [107]:
indoreview=pd.read_csv("indowithreview.csv")
indotodo=pd.read_csv("cleaning_indotodo.csv")

In [108]:
indoreview

,Unnamed: 0,destination,location,reviewcount
0,0,Bintan,"Bintan Regency, Indonesia",25.006 ulasan dan opini
1,1,Telukdalam,"Pulau Nias, Indonesia",49 ulasan dan opini
2,2,Seminyak,"Kecamatan Kuta, Indonesia",451.212 ulasan dan opini
3,3,Ubud,"Gianyar Regency, Indonesia",610.495 ulasan dan opini
4,4,Bali,Indonesia,2.998.882 ulasan dan opini
...,...,...,...,...
981,981,Tuk,"Jawa Barat, Indonesia",NaN
982,982,Parongpong,"Jawa Barat, Indonesia",NaN
983,983,Timbau,"Kutai Kartanegara, Indonesia",NaN
984,984,Tanjung Baru,"Sumatra Selatan, Indonesia",NaN
985,985,Baru,"Kalimantan Tengah, Indonesia",NaN

In [109]:
indoreview=indoreview[indoreview["reviewcount"].notnull()]

In [110]:
indoreview

,Unnamed: 0,destination,location,reviewcount
0,0,Bintan,"Bintan Regency, Indonesia",25.006 ulasan dan opini
1,1,Telukdalam,"Pulau Nias, Indonesia",49 ulasan dan opini
2,2,Seminyak,"Kecamatan Kuta, Indonesia",451.212 ulasan dan opini
3,3,Ubud,"Gianyar Regency, Indonesia",610.495 ulasan dan opini
4,4,Bali,Indonesia,2.998.882 ulasan dan opini
...,...,...,...,...
956,956,Nayan,"Yogyakarta, Indonesia",211 ulasan dan opini
969,969,Karangpapak,"Jawa Barat, Indonesia",24 ulasan dan opini
970,970,Bernung,"Lampung, Indonesia",2 ulasan dan opini
973,973,Wetar,"Kepulauan Maluku, Indonesia",2 ulasan dan opini
975,975,Augusta Island,"Sauandarek, Indonesia",130 ulasan dan opini

Perlu untuk mengubah Review Count menjadi data numerik. Agar kemudian data-data yang duplikat dapat ditambahkan Reviewnya satu sama lain.

In [111]:
indoreview["reviewcount"][0][0:-17]

'25.006'

In [112]:
def numerik(x):
    return x["reviewcount"][0:-17]

In [113]:
indoreview["reviewcount"]=indoreview.apply(numerik, axis=1)

C:\Users\chiri\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [114]:
indoreview["reviewcount"]

0         25.006
1             49
2        451.212
3        610.495
4      2.998.882
         ...
956          211
969           24
970            2
973            2
975          130
Name: reviewcount, Length: 832, dtype: object

In [94]:
indoreview["reviewcount"].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [115]:
indoreview["reviewcount"]=indoreview["reviewcount"].str.replace(".","")

C:\Users\chiri\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [116]:
indoreview["reviewcount"]

0        25006
1           49
2       451212
3       610495
4      2998882
        ...
956        211
969         24
970          2
973          2
975        130
Name: reviewcount, Length: 832, dtype: object

In [117]:
## check item/format datetime didalam kolom Incident Date yang error
review = []
error_review = []
for index,value in enumerate(indoreview["reviewcount"]):
    try :
        review.append(int(value))
    except :
        review.append(value)
        error_review.append(index)

In [118]:
error_review

[]

In [119]:
for i in error_review:
    print(indoreview.iloc[i]["reviewcount"])

Dropping row yang kolom "Review Count" nya kosong

In [120]:
indoreview[indoreview["reviewcount"]==""]

Empty DataFrame
Columns: [Unnamed: 0, destination, location, reviewcount]
Index: []

In [100]:
indoreview=indoreview[indoreview["reviewcount"]!=""]

In [101]:
indoreview.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 846 entries, 0 to 981
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   846 non-null    int64
 1   destination  846 non-null    object
 2   location     846 non-null    object
 3   reviewcount  846 non-null    object
dtypes: int64(1), object(3)
memory usage: 33.0+ KB

In [121]:
indoreview["reviewcount"].astype(int)

0        25006
1           49
2       451212
3       610495
4      2998882
        ...
956        211
969         24
970          2
973          2
975        130
Name: reviewcount, Length: 832, dtype: int32

In [122]:
indoreview.to_csv("indowithreview.csv")

In [123]:
indoreview

     Unnamed: 0     destination                     location reviewcount
0             0          Bintan    Bintan Regency, Indonesia       25006
1             1      Telukdalam        Pulau Nias, Indonesia          49
2             2        Seminyak    Kecamatan Kuta, Indonesia      451212
3             3            Ubud   Gianyar Regency, Indonesia      610495
4             4            Bali                    Indonesia     2998882
..          ...             ...                          ...         ...
956         956           Nayan        Yogyakarta, Indonesia         211
969         969     Karangpapak        Jawa Barat, Indonesia          24
970         970         Bernung           Lampung, Indonesia           2
973         973           Wetar  Kepulauan Maluku, Indonesia           2
975         975  Augusta Island        Sauandarek, Indonesia         130

[832 rows x 4 columns]

In [124]:
indoreview.drop("Unnamed: 0", axis=1).reset_index().drop("index", axis=1)

        destination                     location reviewcount
0            Bintan    Bintan Regency, Indonesia       25006
1        Telukdalam        Pulau Nias, Indonesia          49
2          Seminyak    Kecamatan Kuta, Indonesia      451212
3              Ubud   Gianyar Regency, Indonesia      610495
4              Bali                    Indonesia     2998882
..              ...                          ...         ...
827           Nayan        Yogyakarta, Indonesia         211
828     Karangpapak        Jawa Barat, Indonesia          24
829         Bernung           Lampung, Indonesia           2
830           Wetar  Kepulauan Maluku, Indonesia           2
831  Augusta Island        Sauandarek, Indonesia         130

[832 rows x 3 columns]

In [125]:
indotodo.drop("Unnamed: 0", axis=1).reset_index().drop("index", axis=1)

,Country Name,Travel Destination,Checking,Things to Do
0,Indonesia,Bintan,Bintan,"['Tur (39)', 'Aktivitas Luar Ruangan (30)', 'T..."
1,Indonesia,Telukdalam,Telukdalam,"['Wisata Alam & Taman (2)', 'Aktivitas Luar Ru..."
2,Indonesia,Seminyak,Seminyak,"['Tur (204)', 'Spa & Kebugaran (164)', 'Aktivi..."
3,Indonesia,Bali,Bali,"['Tur (5.854)', 'Aktivitas Luar Ruangan (3.740..."
4,Indonesia,Ubud,Ubud,"['Tur (884)', 'Aktivitas Luar Ruangan (525)', ..."
...,...,...,...,...
694,Indonesia,Kabupaten Buleleng,Kabupaten Buleleng,"['Tur (212)', 'Aktivitas Luar Ruangan (180)', ..."
695,Indonesia,Singapadu Kaler,Singapadu Kaler,"['Tur (1)', 'Tur dengan Perahu & Olahraga Air ..."
696,Indonesia,Telagah,Telagah,['Pemandangan & Tengara (1)']
697,Indonesia,Banyuatis,Banyuatis,"['Tur (1)', 'Transportasi (1)']"
698,Indonesia,Wetar,Wetar,['Wisata Alam & Taman (1)']

In [131]:
indomerged=pd.merge(indotodo,indoreview,left_on="Travel Destination", right_on="destination").drop(["Unnamed: 0_x","Unnamed: 0_y","destination"], axis=1)

In [136]:
indomerged["reviewcount"]=indomerged["reviewcount"].astype(int)

In [139]:
cleaned_indomerged=indomerged[indomerged["reviewcount"]>100]

In [140]:
cleaned_indomerged.to_csv("dataset_indo.csv")

In [146]:
cleaned_indomerged[cleaned_indomerged.duplicated()]

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
8,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Kecamatan Kuta, Indonesia",364605
9,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Lombok, Indonesia",26536
13,Indonesia,Yogyakarta,Yogyakarta,"['Tur (377)', 'Aktivitas Luar Ruangan (228)', ...","Jawa, Indonesia",163279
14,Indonesia,Yogyakarta,Yogyakarta,"['Tur (377)', 'Aktivitas Luar Ruangan (228)', ...","Yogyakarta, Indonesia",18058
31,Indonesia,Tulamben,Tulamben,"['Tur (37)', 'Aktivitas Luar Ruangan (32)', 'T...","Bali, Indonesia",15203
...,...,...,...,...,...,...
605,Indonesia,Pulau Kri,Pulau Kri,"['Tur (4)', 'Tur dengan Perahu & Olahraga Air ...","Raja Ampat, Indonesia",131
609,Indonesia,Keliki,Keliki,"['Spa & Kebugaran (2)', 'Kursus & Sanggar (1)'...","Gianyar, Indonesia",142
611,Indonesia,Dangin Puri,Dangin Puri,"['Tur (2)', 'Pemandangan & Tengara (2)', 'Tran...","Denpasar, Indonesia",150
615,Indonesia,Sukasada,Sukasada,"['Tur (12)', 'Wisata Alam & Taman (12)', 'Akti...","Kabupaten Buleleng, Indonesia",1756
628,Indonesia,Singapadu Kaler,Singapadu Kaler,"['Tur (1)', 'Tur dengan Perahu & Olahraga Air ...","Sukawati, Indonesia",309

In [155]:
cleaned_indomerged[cleaned_indomerged["Checking"]=="Kuta"]

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
6,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Kecamatan Kuta, Indonesia",364605
7,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Lombok, Indonesia",26536
8,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Kecamatan Kuta, Indonesia",364605
9,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Lombok, Indonesia",26536

In [154]:
for i in cleaned_indomerged[cleaned_indomerged.duplicated()]["Checking"].unique():
    for j in range(len(cleaned_indomerged)):
        if (cleaned_indomerged["Checking"].iloc[j]==i):
            print(i, cleaned_indomerged["reviewcount"].iloc[j])

Kuta 364605
Kuta 26536
Kuta 364605
Kuta 26536
Yogyakarta 163279
Yogyakarta 18058
Yogyakarta 163279
Yogyakarta 18058
Tulamben 15203
Tulamben 15203
Samosir 6041
Samosir 6041
Purwokerto 3635
Purwokerto 3635
Berastagi 3357
Berastagi 3357
Batu 16754
Batu 16754
Ungasan 20054
Ungasan 20054
Pemuteran 22705
Pemuteran 22705
Tabanan 21625
Tabanan 21625
Kedonganan 4181
Kedonganan 4181
Serpong 5426
Serpong 5426
Pulau Weh 4251
Pulau Weh 4251
Kepulauan Mentawai 938
Kepulauan Mentawai 938
Kediri 2037
Kediri 2037
Jawa Barat 265764
Jawa Barat 265764
Palangkaraya 1768
Palangkaraya 1768
Palangkaraya 1768
Palangkaraya 1768
Situbondo 634
Situbondo 634
Situbondo 634
Situbondo 634
Mojokerto 863
Mojokerto 863
Mojokerto 863
Mojokerto 863
Carita 188
Carita 188
Pasuruan 1723
Pasuruan 1723
Nusa Tenggara Barat 276032
Nusa Tenggara Barat 276032
Pulau Bangka 2811
Pulau Bangka 911
Pulau Bangka 2811
Pulau Bangka 911
Pulau Bangka 2811
Pulau Bangka 911
Tanjung Pinang 2537
Tanjung Pinang 2537
Pacitan 1183
Pacitan 1183
Sabang 2852
Sabang 2852
Sabang 2852
Sabang 2852
Tejakula 3650
Tejakula 3650
Temanggung 223
Temanggung 223
Bondalem 716
Bondalem 716
Buleleng 40134
Buleleng 449
Buleleng 40134
Buleleng 449
Tomohon 1627
Tomohon 1627
Pulau Moyo 301
Pulau Moyo 301
Pulau Moyo 301
Pulau Moyo 301
Jombang 355
Jombang 355
Jombang 355
Jombang 355
Selong Belanak 3044
Selong Belanak 3044
Selong Belanak 3044
Selong Belanak 3044
Pulau Lembeh 1484
Pulau Lembeh 1484
Nganjuk 140
Nganjuk 140
Trenggalek 138
Trenggalek 138
Pakem 182
Pakem 182
Bondowoso 612
Bondowoso 612
Padang Sidempuan 104
Padang Sidempuan 104
Bojonegoro 492
Bojonegoro 492
Pulau Seram 134
Pulau Seram 134
Morotai 132
Morotai 132
Biak 301
Biak 301
Pererenan 1830
Pererenan 1830
Riau Archipelago 87644
Riau Archipelago 87644
Nembrala 458
Nembrala 458
Nembrala 458
Nembrala 458
Pandaan 104
Pandaan 104
Songan 195
Songan 195
Kedisan 1060
Kedisan 1060
Blahbatuh 4083
Blahbatuh 4083
Purwodadi 123
Purwodadi 123
Provinsi Riau 14040
Provinsi Riau 14040
Sragen 207
Sragen 207
Sragen 207
Sragen 207
Ciamis 539
Ciamis 539
Ciamis 539
Ciamis 539
Tenggarong 204
Tenggarong 204
Makale 283
Makale 283
Kepulauan Kai 303
Kepulauan Kai 303
Cimahi 298
Cimahi 298
Cimahi 298
Kaliasem 2673
Kaliasem 2673
Kaliasem 2673
Kaliasem 2673
Temukus 874
Temukus 874
Pemenang 160463
Pemenang 160463
Pemenang 160463
Pemenang 160463
Saparua 138
Saparua 138
Saparua 138
Saparua 138
Bayah 207
Bayah 207
Kalimantan Barat 9150
Kalimantan Barat 9150
Kalimantan Barat 9150
Kalimantan Barat 9150
Tana Toraja 162
Tana Toraja 162
Solok 156
Solok 156
Purbalingga 121
Purbalingga 121
Purbalingga 121
Purbalingga 121
Sukoharjo 288
Sukoharjo 288
Muara Enim 344
Muara Enim 344
Sentani 212
Sentani 212
Sentani 212
Sentani 212
Purworejo 110
Purworejo 110
Purworejo 110
Purworejo 110
Tual 214
Tual 214
Batu layar 3501
Batu layar 3501
Batu layar 3501
Batu layar 3501
Kalimantan Tengah 5118
Kalimantan Tengah 5118
Sekupang 502
Sekupang 502
Celuk 176
Celuk 176
Karanganyar 1028
Karanganyar 1028
Batubulan 1554
Batubulan 1554
Kutuh 666
Kutuh 666
Kutuh 666
Kutuh 666
Tangkahan 260
Tangkahan 260
Prambanan 6641
Prambanan 6641
Tibubeneng 14931
Tibubeneng 14931
Nagari Sungai Pinang 126
Nagari Sungai Pinang 126
Ngawi 134
Ngawi 134
Tuktuk Siadong 927
Tuktuk Siadong 927
Sumur Batu 904
Sumur Batu 904
Babakan Madang 5052
Babakan Madang 5052
Bogor Regency 6085
Bogor Regency 6085
Gianyar Regency 704023
Gianyar Regency 704023
Tepus 382
Tepus 382
Sanur Kaja 170
Sanur Kaja 170
Kalabahi 189
Kalabahi 189
Pulau Kakaban 221
Pulau Kakaban 221
Tanggamus 164
Tanggamus 164
Manggar 190
Manggar 190
Semanu 573
Semanu 573
Mayong 512
Mayong 512
Bukti 140
Bukti 140
Mendut 294
Mendut 294
Tetebatu 1051
Tetebatu 1051
Tetebatu 1051
Tetebatu 1051
Nungnung 334
Nungnung 334
Pulau Kri 131
Pulau Kri 131
Keliki 142
Keliki 142
Dangin Puri 150
Dangin Puri 150
Sukasada 1756
Sukasada 1756
Singapadu Kaler 309
Singapadu Kaler 309

In [157]:
tes=cleaned_indomerged.drop_duplicates(subset=["Checking","location","reviewcount"], keep='first')

In [170]:
tes[tes["Checking"]=="Tuban"]

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
66,Indonesia,Tuban,Tuban,"['Tur (54)', 'Aktivitas Luar Ruangan (29)', 'T...","Kuta, Indonesia",20552
67,Indonesia,Tuban,Tuban,"['Tur (54)', 'Aktivitas Luar Ruangan (29)', 'T...","Jawa Timur, Indonesia",313

In [171]:
tes.to_csv("dataset_indo.csv")

In [166]:
tes[tes["Checking"].duplicated()]

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
7,Indonesia,Kuta,Kuta,"['Tur (691)', 'Aktivitas Luar Ruangan (402)', ...","Lombok, Indonesia",26536
12,Indonesia,Yogyakarta,Yogyakarta,"['Tur (377)', 'Aktivitas Luar Ruangan (228)', ...","Yogyakarta, Indonesia",18058
67,Indonesia,Tuban,Tuban,"['Tur (54)', 'Aktivitas Luar Ruangan (29)', 'T...","Jawa Timur, Indonesia",313
142,Indonesia,Pulau Bangka,Pulau Bangka,"['Wisata Alam & Taman (23)', 'Aktivitas Luar R...","Sulawesi Utara, Indonesia",911
210,Indonesia,Buleleng,Buleleng,"['Tur (108)', 'Aktivitas Luar Ruangan (82)', '...","Buleleng, Indonesia",449
568,Indonesia,Kuta Selatan,Kuta Selatan,"['Tur (194)', 'Aktivitas Luar Ruangan (109)', ...","Kecamatan Kuta, Indonesia",370

In [169]:
count_list=[]
place_list=[]

for i in tes[tes["Checking"].duplicated()]["Checking"].unique():
    count=0
    for j in range(len(tes)):
        if (tes["Checking"].iloc[j]==i):
            print(i, tes["reviewcount"].iloc[j])
            count+=tes["reviewcount"].iloc[j]
    count_list.append(count)
    place_list.append(i)
    print(count_list)
    print(place_list)

Kuta 364605
Kuta 26536
[391141]
['Kuta']
Yogyakarta 163279
Yogyakarta 18058
[391141, 181337]
['Kuta', 'Yogyakarta']
Tuban 20552
Tuban 313
[391141, 181337, 20865]
['Kuta', 'Yogyakarta', 'Tuban']
Pulau Bangka 2811
Pulau Bangka 911
[391141, 181337, 20865, 3722]
['Kuta', 'Yogyakarta', 'Tuban', 'Pulau Bangka']
Buleleng 40134
Buleleng 449
[391141, 181337, 20865, 3722, 40583]
['Kuta', 'Yogyakarta', 'Tuban', 'Pulau Bangka', 'Buleleng']
Kuta Selatan 106530
Kuta Selatan 370
[391141, 181337, 20865, 3722, 40583, 106900]
['Kuta', 'Yogyakarta', 'Tuban', 'Pulau Bangka', 'Buleleng', 'Kuta Selatan']

In [2]:
df=pd.read_csv("dataset_indo.csv")

In [3]:
df.drop("Unnamed: 0", axis=1).reser

,Unnamed: 0,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
0,0,Indonesia,Bintan,Bintan,"['Tur (39)', 'Aktivitas Luar Ruangan (30)', 'T...","Bintan Regency, Indonesia",25006
1,2,Indonesia,Seminyak,Seminyak,"['Tur (204)', 'Spa & Kebugaran (164)', 'Aktivi...","Kecamatan Kuta, Indonesia",451212
2,3,Indonesia,Bali,Bali,"['Tur (5.854)', 'Aktivitas Luar Ruangan (3.740...",Indonesia,2998882
3,4,Indonesia,Ubud,Ubud,"['Tur (884)', 'Aktivitas Luar Ruangan (525)', ...","Gianyar Regency, Indonesia",610495
4,5,Indonesia,Jakarta,Jakarta,"['Tur (168)', 'Tempat Belanja (148)', 'Spa & K...","Jawa, Indonesia",339358
...,...,...,...,...,...,...,...
321,616,Indonesia,Toyapakeh,Toyapakeh,"['Tur (5)', 'Tur dengan Perahu & Olahraga Air ...","Nusa Penida, Indonesia",742
322,619,Indonesia,Singakerta,Singakerta,"['Spa & Kebugaran (2)', 'Tur (2)', 'Kursus & S...","Ubud, Indonesia",2019
323,621,Indonesia,Guwang,Guwang,"['Wisata Alam & Taman (1)', 'Cocok untuk Pasan...","Sukawati, Indonesia",343
324,627,Indonesia,Singapadu Kaler,Singapadu Kaler,"['Tur (1)', 'Tur dengan Perahu & Olahraga Air ...","Sukawati, Indonesia",309
325,643,Indonesia,Batu Karas,Batu Karas,"['Tur (2)', 'Tur dengan Perahu & Olahraga Air ...","Jawa Barat, Indonesia",206