In [224]:
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer

In [225]:
df=pd.read_csv("dataset_indo.csv")

In [226]:
df=df.drop("Unnamed: 0", axis=1)

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country Name        326 non-null    object
 1   Travel Destination  326 non-null    object
 2   Checking            326 non-null    object
 3   Things to Do        326 non-null    object
 4   location            326 non-null    object
 5   reviewcount         326 non-null    int64
dtypes: int64(1), object(5)
memory usage: 15.4+ KB

### Menyesuaikan simbol-simbol agar tidak mengganggu dalam proses cleaning data

In [228]:
df["Things to Do"]=df["Things to Do"].str.replace("[","").str.replace("]","").str.replace("'","").str.replace(" ","").str.replace("(",",(").str.replace(",Lihatsemua,",",").str.replace(",Lihatsemua","").str.replace("&","dan").str.replace("-","")

In [229]:
df

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
0,Indonesia,Bintan,Bintan,"Tur,(39),AktivitasLuarRuangan,(30),Transportas...","Bintan Regency, Indonesia",25006
1,Indonesia,Seminyak,Seminyak,"Tur,(204),SpadanKebugaran,(164),AktivitasLuarR...","Kecamatan Kuta, Indonesia",451212
2,Indonesia,Bali,Bali,"Tur,(5.854),AktivitasLuarRuangan,(3.740),Turde...",Indonesia,2998882
3,Indonesia,Ubud,Ubud,"Tur,(884),AktivitasLuarRuangan,(525),SpadanKeb...","Gianyar Regency, Indonesia",610495
4,Indonesia,Jakarta,Jakarta,"Tur,(168),TempatBelanja,(148),SpadanKebugaran,...","Jawa, Indonesia",339358
...,...,...,...,...,...,...
321,Indonesia,Toyapakeh,Toyapakeh,"Tur,(5),TurdenganPerahudanOlahragaAir,(4),Akti...","Nusa Penida, Indonesia",742
322,Indonesia,Singakerta,Singakerta,"SpadanKebugaran,(2),Tur,(2),KursusdanSanggar,(...","Ubud, Indonesia",2019
323,Indonesia,Guwang,Guwang,"WisataAlamdanTaman,(1),CocokuntukPasangan,(1),...","Sukawati, Indonesia",343
324,Indonesia,Singapadu Kaler,Singapadu Kaler,"Tur,(1),TurdenganPerahudanOlahragaAir,(1),Akti...","Sukawati, Indonesia",309
325,Indonesia,Batu Karas,Batu Karas,"Tur,(2),TurdenganPerahudanOlahragaAir,(2),Akti...","Jawa Barat, Indonesia",206

In [230]:
df["Things to Do"]=df["Things to Do"].str.split(",")

In [231]:
df

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
0,Indonesia,Bintan,Bintan,"[Tur, (39), AktivitasLuarRuangan, (30), Transp...","Bintan Regency, Indonesia",25006
1,Indonesia,Seminyak,Seminyak,"[Tur, (204), SpadanKebugaran, (164), Aktivitas...","Kecamatan Kuta, Indonesia",451212
2,Indonesia,Bali,Bali,"[Tur, (5.854), AktivitasLuarRuangan, (3.740), ...",Indonesia,2998882
3,Indonesia,Ubud,Ubud,"[Tur, (884), AktivitasLuarRuangan, (525), Spad...","Gianyar Regency, Indonesia",610495
4,Indonesia,Jakarta,Jakarta,"[Tur, (168), TempatBelanja, (148), SpadanKebug...","Jawa, Indonesia",339358
...,...,...,...,...,...,...
321,Indonesia,Toyapakeh,Toyapakeh,"[Tur, (5), TurdenganPerahudanOlahragaAir, (4),...","Nusa Penida, Indonesia",742
322,Indonesia,Singakerta,Singakerta,"[SpadanKebugaran, (2), Tur, (2), KursusdanSang...","Ubud, Indonesia",2019
323,Indonesia,Guwang,Guwang,"[WisataAlamdanTaman, (1), CocokuntukPasangan, ...","Sukawati, Indonesia",343
324,Indonesia,Singapadu Kaler,Singapadu Kaler,"[Tur, (1), TurdenganPerahudanOlahragaAir, (1),...","Sukawati, Indonesia",309
325,Indonesia,Batu Karas,Batu Karas,"[Tur, (2), TurdenganPerahudanOlahragaAir, (2),...","Jawa Barat, Indonesia",206

In [232]:
todo=[]

for j in range(len(df)):
    inside_todo=[]
    
    for i in df["Things to Do"][j]:
        if "(" in i:
            inside_todo.append(" ")
        else:
            inside_todo.append(i)
    todo.append(inside_todo)

In [233]:
len(todo)

326

In [234]:
df["Things to Do"]=todo

In [235]:
df

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
0,Indonesia,Bintan,Bintan,"[Tur, , AktivitasLuarRuangan, , Transportasi...","Bintan Regency, Indonesia",25006
1,Indonesia,Seminyak,Seminyak,"[Tur, , SpadanKebugaran, , AktivitasLuarRuan...","Kecamatan Kuta, Indonesia",451212
2,Indonesia,Bali,Bali,"[Tur, , AktivitasLuarRuangan, , TurdenganPer...",Indonesia,2998882
3,Indonesia,Ubud,Ubud,"[Tur, , AktivitasLuarRuangan, , SpadanKebuga...","Gianyar Regency, Indonesia",610495
4,Indonesia,Jakarta,Jakarta,"[Tur, , TempatBelanja, , SpadanKebugaran, ,...","Jawa, Indonesia",339358
...,...,...,...,...,...,...
321,Indonesia,Toyapakeh,Toyapakeh,"[Tur, , TurdenganPerahudanOlahragaAir, , Akt...","Nusa Penida, Indonesia",742
322,Indonesia,Singakerta,Singakerta,"[SpadanKebugaran, , Tur, , KursusdanSanggar,...","Ubud, Indonesia",2019
323,Indonesia,Guwang,Guwang,"[WisataAlamdanTaman, , CocokuntukPasangan, ,...","Sukawati, Indonesia",343
324,Indonesia,Singapadu Kaler,Singapadu Kaler,"[Tur, , TurdenganPerahudanOlahragaAir, , Akt...","Sukawati, Indonesia",309
325,Indonesia,Batu Karas,Batu Karas,"[Tur, , TurdenganPerahudanOlahragaAir, , Akt...","Jawa Barat, Indonesia",206

In [236]:
for i in range(len(df)):
    df["Things to Do"][i]=''.join([str(elem) for elem in df["Things to Do"][i]])

C:\Users\chiri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [237]:
df

,Country Name,Travel Destination,Checking,Things to Do,location,reviewcount
0,Indonesia,Bintan,Bintan,Tur AktivitasLuarRuangan Transportasi Turdenga...,"Bintan Regency, Indonesia",25006
1,Indonesia,Seminyak,Seminyak,Tur SpadanKebugaran AktivitasLuarRuangan Tempa...,"Kecamatan Kuta, Indonesia",451212
2,Indonesia,Bali,Bali,Tur AktivitasLuarRuangan TurdenganPerahudanOla...,Indonesia,2998882
3,Indonesia,Ubud,Ubud,Tur AktivitasLuarRuangan SpadanKebugaran Trans...,"Gianyar Regency, Indonesia",610495
4,Indonesia,Jakarta,Jakarta,Tur TempatBelanja SpadanKebugaran AktivitasLua...,"Jawa, Indonesia",339358
...,...,...,...,...,...,...
321,Indonesia,Toyapakeh,Toyapakeh,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Nusa Penida, Indonesia",742
322,Indonesia,Singakerta,Singakerta,SpadanKebugaran Tur KursusdanSanggar Hiburanda...,"Ubud, Indonesia",2019
323,Indonesia,Guwang,Guwang,WisataAlamdanTaman CocokuntukPasangan Hargater...,"Sukawati, Indonesia",343
324,Indonesia,Singapadu Kaler,Singapadu Kaler,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Sukawati, Indonesia",309
325,Indonesia,Batu Karas,Batu Karas,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Jawa Barat, Indonesia",206

In [238]:
df=df.rename(columns={"location":"Location",
                  "reviewcount":"Review Count"})

In [239]:
df.to_csv("dataset_indo_engineered.csv")

In [240]:
df=pd.read_csv("dataset_indo_engineered.csv")

In [241]:
cv = CountVectorizer()
cv_todo_result = cv.fit_transform(df['Things to Do'])

In [242]:
cv.get_feature_names()

['acara',
 'aktivitasluarruangan',
 'bagussaathujan',
 'berjiwapetualang',
 'cilandak',
 'cocokuntukanakanak',
 'cocokuntukkelompokbesar',
 'cocokuntukpasangan',
 'cocokuntukpenggemaraktivitasekstrem',
 'gambir',
 'grogolpetamburan',
 'hargaterjangkau',
 'hiburandanpermainan',
 'hiburanmalam',
 'jatinegara',
 'kasinodanperjudian',
 'kebayoranbaru',
 'kebunbinatangdanakuarium',
 'konserdanpertunjukan',
 'kursusdansanggar',
 'lokasibulanmadu',
 'makanandanminuman',
 'mampangprapatan',
 'masukgratis',
 'menteng',
 'museum',
 'pademangan',
 'palmerah',
 'pasarminggu',
 'pemandangandantengara',
 'penjaringan',
 'sawahbesar',
 'setiabudi',
 'spadankebugaran',
 'sumberinformasiwisatawan',
 'tamanairdantamanhiburan',
 'tanahabang',
 'tebet',
 'tempatbelanja',
 'tempatyangbelumpopuler',
 'transportasi',
 'tur',
 'turdenganperahudanolahragaair',
 'wisataalamdantaman']

In [243]:
todrop=[
 'cilandak',
 'gambir',
 'grogolpetamburan',
 'jatinegara',
 'kebayoranbaru',
 'mampangprapatan',
 'menteng',
 'pademangan',
 'palmerah',
 'pasarminggu',
 'penjaringan',
 'sawahbesar',
 'setiabudi',
 'tanahabang',
 'tebet']

In [244]:
df

,Unnamed: 0,Country Name,Travel Destination,Checking,Things to Do,Location,Review Count
0,0,Indonesia,Bintan,Bintan,Tur AktivitasLuarRuangan Transportasi Turdenga...,"Bintan Regency, Indonesia",25006
1,1,Indonesia,Seminyak,Seminyak,Tur SpadanKebugaran AktivitasLuarRuangan Tempa...,"Kecamatan Kuta, Indonesia",451212
2,2,Indonesia,Bali,Bali,Tur AktivitasLuarRuangan TurdenganPerahudanOla...,Indonesia,2998882
3,3,Indonesia,Ubud,Ubud,Tur AktivitasLuarRuangan SpadanKebugaran Trans...,"Gianyar Regency, Indonesia",610495
4,4,Indonesia,Jakarta,Jakarta,Tur TempatBelanja SpadanKebugaran AktivitasLua...,"Jawa, Indonesia",339358
...,...,...,...,...,...,...,...
321,321,Indonesia,Toyapakeh,Toyapakeh,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Nusa Penida, Indonesia",742
322,322,Indonesia,Singakerta,Singakerta,SpadanKebugaran Tur KursusdanSanggar Hiburanda...,"Ubud, Indonesia",2019
323,323,Indonesia,Guwang,Guwang,WisataAlamdanTaman CocokuntukPasangan Hargater...,"Sukawati, Indonesia",343
324,324,Indonesia,Singapadu Kaler,Singapadu Kaler,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Sukawati, Indonesia",309
325,325,Indonesia,Batu Karas,Batu Karas,Tur TurdenganPerahudanOlahragaAir AktivitasLua...,"Jawa Barat, Indonesia",206

In [245]:
for i in todrop:
    df["Things to Do"]=df["Things to Do"].str.lower().str.replace(i,"")

In [246]:
cv = CountVectorizer()
cv_todo_result = cv.fit_transform(df['Things to Do'])

cv.get_feature_names()

['acara',
 'aktivitasluarruangan',
 'bagussaathujan',
 'berjiwapetualang',
 'cocokuntukanakanak',
 'cocokuntukkelompokbesar',
 'cocokuntukpasangan',
 'cocokuntukpenggemaraktivitasekstrem',
 'hargaterjangkau',
 'hiburandanpermainan',
 'hiburanmalam',
 'kasinodanperjudian',
 'kebunbinatangdanakuarium',
 'konserdanpertunjukan',
 'kursusdansanggar',
 'lokasibulanmadu',
 'makanandanminuman',
 'masukgratis',
 'museum',
 'pemandangandantengara',
 'spadankebugaran',
 'sumberinformasiwisatawan',
 'tamanairdantamanhiburan',
 'tempatbelanja',
 'tempatyangbelumpopuler',
 'transportasi',
 'tur',
 'turdenganperahudanolahragaair',
 'wisataalamdantaman']

In [247]:
df

,Unnamed: 0,Country Name,Travel Destination,Checking,Things to Do,Location,Review Count
0,0,Indonesia,Bintan,Bintan,tur aktivitasluarruangan transportasi turdenga...,"Bintan Regency, Indonesia",25006
1,1,Indonesia,Seminyak,Seminyak,tur spadankebugaran aktivitasluarruangan tempa...,"Kecamatan Kuta, Indonesia",451212
2,2,Indonesia,Bali,Bali,tur aktivitasluarruangan turdenganperahudanola...,Indonesia,2998882
3,3,Indonesia,Ubud,Ubud,tur aktivitasluarruangan spadankebugaran trans...,"Gianyar Regency, Indonesia",610495
4,4,Indonesia,Jakarta,Jakarta,tur tempatbelanja spadankebugaran aktivitaslua...,"Jawa, Indonesia",339358
...,...,...,...,...,...,...,...
321,321,Indonesia,Toyapakeh,Toyapakeh,tur turdenganperahudanolahragaair aktivitaslua...,"Nusa Penida, Indonesia",742
322,322,Indonesia,Singakerta,Singakerta,spadankebugaran tur kursusdansanggar hiburanda...,"Ubud, Indonesia",2019
323,323,Indonesia,Guwang,Guwang,wisataalamdantaman cocokuntukpasangan hargater...,"Sukawati, Indonesia",343
324,324,Indonesia,Singapadu Kaler,Singapadu Kaler,tur turdenganperahudanolahragaair aktivitaslua...,"Sukawati, Indonesia",309
325,325,Indonesia,Batu Karas,Batu Karas,tur turdenganperahudanolahragaair aktivitaslua...,"Jawa Barat, Indonesia",206

In [248]:
len(cv.get_feature_names())

29

In [249]:
df=df.drop("Unnamed: 0", axis=1)

In [250]:
df.to_csv("dataset_indo_engineered.csv",index=False)